h1 {
    text-align: center;
}


table {
    margin-left: auto;
    margin-right: auto; 
}

td {
    height: 100px;
    width: 100px;
}

/* table cell border styling */
td:nth-of-type(2) {
    border-left: 2px blue solid;
    border-right: 2px blue solid;   
}

tr:nth-of-type(2) td:nth-of-type(2) {
    border: 2px blue solid; 
}

tr:nth-of-type(2) td:nth-of-type(1), tr:nth-of-type(2) td:nth-of-type(3) {
    border-top: 2px blue solid;
    border-bottom: 2px blue solid;   
}

/* table cell background styling */
/*
tr:nth-of-type(1) {
    background: yellow;
}

tr:nth-of-type(2) {
    background: yellowgreen;
}

tr:nth-of-type(3) {
    background: green;
}
*/
